body {
  background-image: url(/js/images/travelProject.jpg);
}

#agg {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;

}

#h4 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	
}

#customForm {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	
}

#editTravelDiv {
	justify-content: center;
	align-items: center;
	 	 
}

#deleteTravelDiv {
	margin: auto;
	width: 10%;
	border: 3px black;
	padding: 10px;
}

#travelObj {
	content: '\A';
	white-space: pre;
	border-style: solid;
	padding: 10px;
	border-width: 3px;
	margin: 10px;
	color: white;
}